.shop-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 1rem;
  margin: 1rem;
}

.cart-summary-container {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  background: rgba(255, 153, 0, 0.3);
}

/* media queries for responsive designs */

@media (min-width: 768px) {
  .products-container {
    row-gap: 1rem;
    column-gap: 2.5rem;
    margin: 2rem;
  }
  .shop-container {
    grid-template-columns: 3fr 1fr;
  }
}

@media (min-width: 1024px) {
  .products-container {
    grid-template-columns: repeat(3, minmax(230px, 1fr));
    row-gap: 1rem;
    column-gap: 1.5rem;
  }
}

@media (min-width: 1280px) {
  .shop-container {
    grid-template-columns: 4fr 1fr;
  }
  .products-container {
    grid-template-columns: repeat(auto-fit minmax(220px, 1fr));
    row-gap: 2rem;
    column-gap: 2.5rem;
    margin: 3rem 5rem;
  }
}
