.orders-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin: 3rem auto;
}

.orders-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.orders-summary {
  width: 100%;
}

@media (min-width: 768px) {
  .orders-container {
    grid-template-columns: 2fr 1fr;
  }
}
@media (min-width: 1024px) {
  .orders-container {
    grid-template-columns: 3fr 2fr;
  }
}
@media (min-width: 1280px) {
}
